{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <style>
      *{
          font-family: 'Times New Roman', Times, serif;
        }

      .navbar {
        background-color: #192a56;
        } 

    .navbar-dark .navbar-nav .nav-link {
        color: #fff;
        }
  
    </style>

</head>
<body>
    
    <!-- barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
      <div class="container">
          <img src="{% static 'core/img/Logo_UTFSM.png' %}" alt="Logo" height=50px width=50px hspace=5px>
          <a class="navbar-brand" href="{% url 'home' %}">Universidad Tecnico Federico Santa Maria</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'foro' %}">Foro</a>
                  </li>                
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'admin:index'%}">Inicio de Sesion como Administrador</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
    
  
      
    {% block header %} {% endblock %}

    {% block content %} 

    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
            height: 450,
            initialView: 'timeGridFiveDay',

            select: function(info){
              var popup = document.getElementById('popup');
              popup.classList.remove('d-none');
              popup.style.zIndex = '1050';
              
              

              var hora_agendada = moment(info.start).format('HH:mm');
              

              var agendarBtn = document.getElementById('agendarBtn');
              agendarBtn.addEventListener('click', function(){

                var event = {
                  title: 'Hora Agendada',
                  start: info.start,
                  end: info.start,
                  color: 'yellow'
                };

                calendar.addEvent(event);
                popup.classList.add('d-none');

                var events = JSON.parse(localStorage.getItem('calendarioEventos')) || [];
                events.push(event);
                localStorage.setItem('calendarioEventos', JSON.stringify(events));
                calendar.removeEvent(event);
              });
              
            },

            views:{
              timeGridFiveDay:{
                type: 'timeGridWeek',
                weekends: false,
                selectable: true,
                allDaySlot: false
              }
            },
          
            slotLabelFormat: {
              hour: 'numeric'
            },

            locale: 'es',
            weekends: 'false',
            slotMinTime: '04:00',
            slotMaxTime: '11:00',

            });
            var storedEvents = JSON.parse(localStorage.getItem('calendarioEventos')) || [];
            storedEvents.forEach(function(event) {
             calendar.addEvent(event);
            });
            
            var slotDuration = calendar.getOption('slotDuration')
            console.log(slotDuration)
            calendar.render();
          });
          

      </script>

      <script>
        $(document).ready(function() {
          $('#usuarioSelect').select2();
        });
      </script>
      <script>
        document.getElementById('cerrarBtn').addEventListener('click', function() {
          document.getElementById('popup').classList.add('d-none');
        });
      </script>            
    
</body>
</html>