{% extends 'core/base.html' %}

{% block title %} 

{% endblock %}

{% block header %} {% endblock %}

{% block content %} 
<br>
<div class= 'container'>
  
  <div class= 'row' >
    
      <!--Raul Detalless-->
      <div class= 'col-5'> 
        <h1>Ingresar estudiante 🏋️‍♂️</h1>
        <!--Formulario-->
        <form action="" method="POST">
          {% csrf_token %}
          
          {{ form }}
          <br>
          <input class="btn btn-primary" type="submit" value="Guardar">
          
      </form>

      {% if 'ok' in request.GET %}
          <div class="alert alert-success mt-5" role="alert">
              <strong>El estudiante se ingresó correctamente</strong>
          </div>
      {% endif %}

      {% if 'error' in request.GET %}
          <div class="alert alert-danger mt-5" role="alert">
              <strong>El mensaje no ha podido ser enviado. Por favor, intente más tarde</strong>
          </div>
      {% endif %}

      <!--Fin del Formulario-->
      <!--Tabla-->
      <br><br>
      <div class="table-responsive">
        <table class="table table-striped">        <!-- Funcion para poner una tabla con estilos de bootstrap-->
            <thead>                                  <!-- Pone los titulos de las columnas -->
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>rut</th>
                </tr>
            </thead>
            <tbody>             
             {% for u in usuarios %}                <!-- Recorre la tabla correspondencias pasada como parametro-->
            <tr>                                            <!-- extrae los datos de la tabla 1 por 1 y los ubica en -->
                <td>{{u.nombre}}</td>              <!-- su columna (atributo) correspondiente-->         
                <td>{{u.apellido}}</td>
                <td>{{u.rut}}</td>
            </tr>
            {% endfor %}  
            </tbody>
        </table>
    </div>
      <!--Fin de la Tabla-->
      </div> 
    <!--Mati Calendario-->
    <div class= 'col-7'>
      <div id='calendar'></div>
    </div>   
    
    <div id="popup" class="position-fixed top-0 start-0 w-100 h-100 d-none">
      <div class="position-relative d-flex align-items-center justify-content-center vh-100">
        <div class="card p-4" style="width: 400px;">
          <select id="usuarioSelect" class="selectpicker" data-live-search="true">
            {% for usuario in usuarios %}
            <option value="{{ usuario.id }}">{{ usuario.get_full_name }}</option>
            {% endfor %}
          </select>
          <div class="card-footer mt-3 text-center">
            <button id="agendarBtn" class="btn btn-primary mx-auto">Agendar hora</button>
            <button id="cerrarBtn" class="btn btn-secondary mx-auto">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    
    
    
    

  </div>   
</div> 
{% endblock %}
