{% extends 'core/base.html' %}

{% block title %} 
{% endblock %}

{% block header %} {% endblock %}

{% block content %}

<div class="div">
    <div class="container-fluid">
        <div class="col">
            <br><br>
            <h1>TEMA 🤔</h1>
            <br>
            <div class="card">
                <div class="card-header">
                    {{ tema.autor }}
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>{{ tema.contenido }}</p>
                    <footer class="blockquote-footer">{{ tema.fecha_creacion }}</footer>
                  </blockquote>
                </div>
              </div>

        </div> 
    </div>
    
</div> 

{% endblock %}